{{!-- header Image --}}
<div class="parallax-container">
         <div class="center-align" style="z-index: 999">
            <img class="center-align" src="images/puckbuddy.png" alt="" >
            {{!-- <h5 class=" mt0 logoColor">Your guide to the NHL</h5> --}}
        </div>
    <div class="parallax"><img src="images/nico.jpg">
   
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header center-align">Today's Games</h2>
        <div class="flow-text center-align"><span id="dateTime"></span></div>
        <p class="grey-text text-darken-3 lighten-3"></p>
    </div>
</div>
{{!-- hb block here --}}
<div class="container">
{{!-- loader hidden by default --}}
    <div id="load" class="center-align hide">
        {{>load-block}}
    </div>


    <ul class="collapsible popout" id="games">
        {{#each schedule}}
            <li>
                <div class="collapsible-header">
                    <div class="container">
                        <div class="row center-align"><img class="img-responsive" src="{{dataValues.HTlogoPath}}"><span class="flow-text vertical-center">vs.</span><img
                                class="img-responsive" src="{{dataValues.ATlogoPath}}"></div>
                        <div class="row">
                            <div class="col-12 center-align">
                                <div class="flow-text">Local Start Time: <span>{{dataValues.LocalStartTime}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div class="center-align flow-text">{{dataValues.Venue}}</div>
                    <div class="divider"></div>
                    <div class="center-align pt"><a class="waves-green white black-text btn-large center-align gameButton"
                            href="/game/{{ExtGameIDString}}" data-gameid="{{ExtGameIDString}}">View Game Companion<i class="material-icons right">chevron_right</i></a></div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../js/home.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>